/* Reset and base styles  */
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

textarea {
    resize: vertical;
}

button,
input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

input[type='file'] {
    max-width: 100%;
}

/*=======================================================Шрифт============================================*/

.roboto-sans {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    background-color: rgb(31, 31, 31);
    color: #fafddc;
}

/*=======================================================Контейнер для создания задач============================================*/
.tasklist-container {
    padding: 16px 10px;
    background-color: aqua;
}

.create-task-form {
    width: 500px;
    margin: 0px auto;
}

.task-form__inputs {
    padding: 16px 14px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 1px solid #fafddc;
    border-radius: 8px;
    align-items: center;
}

.task-form__input-taskname {
    font-size: 12px;
    font-weight: 500;
    color: #fafddc;
    border: 1px solid #f9ca83;
    padding: 6px 6px;
    border-radius: 4px;
    width: 100%;
}

.task-form__input-taskname::placeholder {
    color: #fafddc;
    opacity: 0.5;
}

.task-form__input-description {
    font-size: 12px;
    font-weight: 500;
    color: #fafddc;
    border: 1px solid #f9ca83;
    padding: 4px 6px;
    border-radius: 4px;
    min-height: 100px;
    width: 100%;
    resize: vertical;
}

.task-form__input-description::placeholder {
    color: #fafddc;
    opacity: 0.5;
}

.create-task-button {
    font-size: 16px;
    font-weight: 600;
    color: #fafddc;
    border: 1px solid #fafddc;
    padding: 8px 6px;
    width: 150px;
    border-radius: 20px;
    text-align: center;
    transition: all 0.3s ease;
}

.create-task-button:hover {
    box-shadow: 0 0 4px #8b513a80,
        0 0 4px #8b513a80,
        0 0 4px #8b513a80;
    background-color: #403729
}